* {
  box-sizing: border-box;
}

body {
  background: #EDFFF8;
  width: 100%;
  padding: 1em;

}

section,
footer {
  text-align: center;
}

h1, p,
button {
  margin: 0;
}

.container {
  margin: 0 auto;
  height: 95vh;
  width: 95%;
  padding: 1em;
  /*height: 40em;*/

  position: relative;
  color: #EDFFF8;
  font-family: 'Noto Sans', sans-serif;
}

.outer-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-box {
  /*background: blue;*/
  width: 50%;
  float:left;
}

#day,
#date,
#unit-toggle {
  font-size: 1.2em;
}

#unit-toggle {
  display: none;
  background: none;
  border: none;
  outline: none;
  float: right;
}

.weather {
  clear: both;
  /*background: green;*/

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#currentTemp-display {
  font-size: 5em;
  /*background: blue;*/
}

#minMaxTemp-display {
  font-size: 1.2em;
}

.weather-icon {
  /*background: red;*/
  margin-bottom: -10px;
}

#location {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  font-size: 1.3em;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/* BG classes toggled by CSS */
.dayBG {
  background: linear-gradient(#354DA6, #C28822);
}

.nightBG {
  background: linear-gradient(#0E1E7F, #5E677F);
}

.defaultBG {
  background: linear-gradient(#354DA6, #C28822);
}
